* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --text-color: #667085;
    --title-color: #101828;
    --secondary-color: #8e2424;
    --vacancy-border: #EAECF0;
    --input-border: #d0d5dd;
    --copyright-color: #98a2b3;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    margin: 18px 80px;
    padding: 0px 32px;  
}

    .navigation {
        display: flex;
        width: 362px;
        gap: 32px;
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color);
    }

    .buttons {
        display: flex;
        align-items: center;
        width: 207px;
        height: 44px;
        gap: 12px;
    }

        #signin {
            padding: 10px 18px;
            font-size: 16px;
            font-weight: 500;
            color: var(--text-color);
            background: none;
            border: none;
        }

        #signup {
            padding: 10px 18px;
            font-size: 16px;
            font-weight: 500;
            background-color: var(--secondary-color);
            color: #ffffff;
            border: none;
            border-radius: 8px;
        }

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 24px;
}

    .about-us span {
        font-size: 16px;
        font-weight: 600;
        color: var(--secondary-color);
    }

    .about-us h1 {
        padding: 0px 32px;
        font-size: 48px;
        font-weight: 600;
        color: var(--title-color);
        letter-spacing: -0.02em;
    }

    .about-us p {
        text-align: center;
        width: 792px;
        padding-top: 12px;
        font-size: 20px;
        font-weight: 400;
        color: var(--text-color);
    }

.metrics {
    display: flex;
    margin: 0 112px 96px 112px;
    padding: 0px 32px;
    justify-content: space-between;
}

    .metrics div {
        display: flex;
        flex-direction: column;
        width: 280px;
        /*preciso fazer a largura das divs ficarem responsivas*/
    }

    .metrics h1 {
        margin-bottom: 12px;
        font-size: 60px;
        font-weight: 600;
        color: var(--secondary-color);
        letter-spacing: -0.02em;
    }

    .metrics h2 {
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 500;
        color: var(--title-color);
    }

    .metrics p {
        font-size: 16px;
        font-weight: 400;
        color: var(--text-color);
    }

.vacancies {
    display: flex;
    flex-direction: column;
    margin: 96px 80px;
}
    
    #talents {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* #talents img {
        width: fit-content;
        height: fit-content;
        flex-wrap: wrap;
        max-width:

        FAZER A IMAGEM FICAR RESPONSIVA
    } */

    #talents span {
        padding: 4px 12px;
        font-size: 14px;
        font-weight: 500;
        background-color: rgba(142, 36, 36, 0.05);
        border-radius: 16px;
        color: var(--secondary-color);
    }

    #talents h1 {
        padding: 20px 0px 16px 0px;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: -0.02em;
        color: var(--title-color);
    }

    #talents p {
        font-size: 20px;
        font-weight: 400;
        color: var(--text-color);
        margin-bottom: 64px;
    }

    #open-vacancies {
        padding: 0px 256px;
    }

    #open-vacancies ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #open-vacancies h1 {
        padding: 64px 0px 32px 0px;
        font-size: 20px;
        font-weight: 500;
        color: var(--title-color);
    }

    #open-vacancies ul li {
        padding: 24px;
        border: 1px solid var(--vacancy-border);
        border-radius: 16px;

    }

    #open-vacancies ul li h2 {
        margin-bottom: 32px;
        font-size: 18px;
        font-weight: 500;
        color: var(--title-color);
    }

    #open-vacancies ul li span {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color);
    }

.depositions {
    display: flex;
    flex-direction: column;
    margin: 0px 112px;
    padding: 64px;
    gap: 32px;
    border-radius: 16px;
    background: rgba(196, 25, 25, 0.03);
    
}

    #collab-quote {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    #collab-quote span {
        font-size: 14px;
        font-weight: 600;
        color: var(--secondary-color);
    }

    #collab-quote h1 {
        text-align: center;
        font-size: 36px;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: var(--title-color);
    }

    #collaborator {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #collaborator h2 {
        padding: 16px 0px 4px 0px;
        font-size: 16px;
        font-weight: 500;
        color: var(--title-color)
    }

    #collaborator span {
        font-size: 14px;
        font-weight: 400;
        color: var(--text-color);
    }

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    margin: 96px 0px;
    gap: 32px;
}

    .opportunities {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px 32px;
        gap: 20px;
    }

    .opportunities h1 {
        font-size: 36px;
        font-weight: 600;
        letter-spacing: -0.02em;
        color: var(--title-color);
    }

    .opportunities span {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 400;
        color: var(--text-color);
    }

    .opportunities form {
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    .opportunities form input {
        padding: 12px 14px 12px 16px;
        font-size: 16px;
        font-weight: 400;
        color: var(--text-color);
        border: 1px solid var(--input-border);
        border-radius: 8px;
    }

    .opportunities form button {
        padding: 12px 20px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        background: var(--secondary-color);
        border-radius: 8px;
        border: none;
    }

    footer p {
        font-size: 16px;
        font-weight: 400;
        color: var(--copyright-color);
    }